@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: darkcyan;
    font-family: 'Open Sans', sans-serif;
}

button {
    background-color: transparent;
    color: black;
    border: 2px black solid;
    padding: 10px;
}

div {
    text-align: center;
}

.counterWrapper {
    line-height: 400px;
    height: 200px;
    text-align: center;
}

.counter {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-size: 100px;
}